*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}


.games{
    width: 100%;
    padding:0 150px;
    display: flex;
}

.search {
    width: 40%;
    padding: 10px 40px;
}
.search .box{
    width: 100%;
}
.search .box input{
    width: 100%;
    padding: 10px 20px;
    font-size: 14px;
    opacity: 0.5;
    margin: 10px;
}




.search .box .fot2{
    width: 100%;
    padding: 70px 20px 20px 20px;
}
.search .box .fot2 h3{
    font-size: 25px;
    color: rgb(0, 0, 0);
    padding-bottom: 40px;
}

.search .box  .fot2 .pub{
    display: flex;
    margin-bottom: 30px;
}
.search .box .fot2 .pub .j1{
    width: 35%;
    display: flex;
    align-items: center;
}
.search .box .fot2 .pub img{
    width: 100%;
}
.search .box .fot2 .pub .texts{
    padding-left: 20px;
}
.search .box .fot2 .pub .texts h6{
    color: orange;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 12px;
    padding-top: 10px;
}
.search .box .fot2 .pub .texts p{
    color: rgb(0, 0, 0);
    line-height: 22px;
    padding-bottom: 5px;
    font-size: 13px;
}
.search .box .fot2 .pub .texts h5{
    color: white;
    opacity: 0.5;
}























.games .game-box{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    width: 60%;
    column-gap:20px;
}
.games .game-box .game-box1{
    width: 100%;
    margin: 10px;
}
.games .game-box .game-box1 .game1{
    height: 200px; 
    background-image: url(images/1.jpg\ \(1\).webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.games .game-box .game-box1 .game1 button{
    padding: 8px 25px;
    background-color: #ff205f;
    border: none;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.games .game-box .game-box1 .game-text{
    width: 100%;
    background-color: white;
    padding: 20px 0 0 20px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.479);
    border-left: 2px solid rgba(0, 0, 0, 0.155);
    border-right: 2px solid rgba(0, 0, 0, 0.155);
}

.games .game-box .game-box1 .game-text h5{
    font-size: 22px;
    width: 80%;
    font-weight: 500;
    color: black;
    padding: 25px 0;
}
.games .game-box .game-box1 .game-text h6{
    color: black;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 20px;
    line-height: 25px;
}
.games .game-box .game-box1 .game-text p{
    color: black;
    opacity: 0.7;
    font-size: 13px;
    padding-bottom: 20px;
}



.games .game-box .game-box2{
    margin: 10px;
    width: 100%;
}
.games .game-box .game-box2 .game2{
    height: 200px; 
    background-image: url(images/2.jpg\ \(1\).webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.games .game-box .game-box2 .game2 button{
    padding: 8px 25px;
    background-color: #694eae;
    border: none;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.games .game-box .game-box2 .game-text{
    width: 100%;
    background-color: white;
    padding: 20px 0 0 20px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.479);
    border-left: 2px solid rgba(0, 0, 0, 0.155);
    border-right: 2px solid rgba(0, 0, 0, 0.155);
}

.games .game-box .game-box2 .game-text h5{
    font-size: 22px;
    width: 80%;
    font-weight: 500;
    color: black;
    padding: 25px 0;
}
.games .game-box .game-box2 .game-text h6{
    color: black;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 20px;
    line-height: 25px;
}
.games .game-box .game-box2 .game-text p{
    color: black;
    opacity: 0.7;
    font-size: 13px;
    padding-bottom: 20px;
}



.games .game-box .game-box3{
    margin: 10px;
    width: 100%;
}
.games .game-box .game-box3 .game3{
    height: 200px; 
    background-image: url(images/3.jpg\ \(1\).webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.games .game-box .game-box3 .game3 button{
    padding: 8px 25px;
    background-color: #40abf5;
    border: none;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.games .game-box .game-box3 .game-text{
    width: 100%;
    background-color: white;
    padding: 20px 0 0 20px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.479);
    border-left: 2px solid rgba(0, 0, 0, 0.155);
    border-right: 2px solid rgba(0, 0, 0, 0.155);
}

.games .game-box .game-box3 .game-text h5{
    font-size: 22px;
    width: 80%;
    font-weight: 500;
    color: black;
    padding: 25px 0;
}
.games .game-box .game-box3 .game-text h6{
    color: black;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 20px;
    line-height: 25px;
    width: 80%;
}
.games .game-box .game-box3 .game-text p{
    color: black;
    opacity: 0.7;
    font-size: 13px;
    padding-bottom: 20px;
}


.games .game-box .game-box4{
    margin: 10px;
    width: 100%;
}
.games .game-box .game-box4 .game4{
    height: 200px; 
    background-image: url(images/3.jpg\ \(1\).webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.games .game-box .game-box4 .game4 button{
    padding: 8px 25px;
    background-color: #40abf5;
    border: none;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.games .game-box .game-box4 .game-text{
    width: 100%;
    background-color: white;
    padding: 20px 0 0 20px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.479);
    border-left: 2px solid rgba(0, 0, 0, 0.155);
    border-right: 2px solid rgba(0, 0, 0, 0.155);
}

.games .game-box .game-box4 .game-text h5{
    font-size: 22px;
    width: 80%;
    font-weight: 500;
    color: black;
    padding: 25px 0;
}
.games .game-box .game-box4 .game-text h6{
    color: black;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 20px;
    line-height: 25px;
    width: 80%;
}
.games .game-box .game-box4 .game-text p{
    color: black;
    opacity: 0.7;
    font-size: 13px;
    padding-bottom: 20px;
}






.games .game-box .game-box5{
    margin: 10px;
    width: 100%;
}
.games .game-box .game-box5 .game5{
    height: 200px; 
    background-image: url(images/3.jpg\ \(1\).webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.games .game-box .game-box5 .game5 button{
    padding: 8px 25px;
    background-color: #40abf5;
    border: none;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.games .game-box .game-box5 .game-text{
    width: 100%;
    background-color: white;
    padding: 20px 0 0 20px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.479);
    border-left: 2px solid rgba(0, 0, 0, 0.155);
    border-right: 2px solid rgba(0, 0, 0, 0.155);
}

.games .game-box .game-box5 .game-text h5{
    font-size: 22px;
    width: 80%;
    font-weight: 500;
    color: black;
    padding: 25px 0;
}
.games .game-box .game-box5 .game-text h6{
    color: black;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 20px;
    line-height: 25px;
    width: 80%;
}
.games .game-box .game-box5 .game-text p{
    color: black;
    opacity: 0.7;
    font-size: 13px;
    padding-bottom: 20px;
}





.games .game-box .game-box6{
    margin: 10px;
    width: 100%;
}
.games .game-box .game-box6 .game6{
    height: 200px; 
    background-image: url(images/3.jpg\ \(1\).webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.games .game-box .game-box6 .game6 button{
    padding: 8px 25px;
    background-color: #40abf5;
    border: none;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.games .game-box .game-box6 .game-text{
    width: 100%;
    background-color: white;
    padding: 20px 0 0 20px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.479);
    border-left: 2px solid rgba(0, 0, 0, 0.155);
    border-right: 2px solid rgba(0, 0, 0, 0.155);
}

.games .game-box .game-box6 .game-text h5{
    font-size: 22px;
    width: 80%;
    font-weight: 500;
    color: black;
    padding: 25px 0;
}
.games .game-box .game-box6 .game-text h6{
    color: black;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 20px;
    line-height: 25px;
    width: 80%;
}
.games .game-box .game-box6 .game-text p{
    color: black;
    opacity: 0.7;
    font-size: 13px;
    padding-bottom: 20px;
}





.games .game-box .game-box7{
    margin: 10px;
    width: 100%;
}
.games .game-box .game-box7 .game7{
    height: 200px; 
    background-image: url(images/3.jpg\ \(1\).webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.games .game-box .game-box7 .game7 button{
    padding: 8px 25px;
    background-color: #40abf5;
    border: none;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.games .game-box .game-box7 .game-text{
    width: 100%;
    background-color: white;
    padding: 20px 0 0 20px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.479);
    border-left: 2px solid rgba(0, 0, 0, 0.155);
    border-right: 2px solid rgba(0, 0, 0, 0.155);
}

.games .game-box .game-box7 .game-text h5{
    font-size: 22px;
    width: 80%;
    font-weight: 500;
    color: black;
    padding: 25px 0;
}
.games .game-box .game-box7 .game-text h6{
    color: black;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 20px;
    line-height: 25px;
    width: 80%;
}
.games .game-box .game-box7 .game-text p{
    color: black;
    opacity: 0.7;
    font-size: 13px;
    padding-bottom: 20px;
}





.games .game-box .game-box8{
    margin: 10px;
    width: 100%;
}
.games .game-box .game-box8 .game8{
    height: 200px; 
    background-image: url(images/3.jpg\ \(1\).webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.games .game-box .game-box8 .game8 button{
    padding: 8px 25px;
    background-color: #40abf5;
    border: none;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.games .game-box .game-box8 .game-text{
    width: 100%;
    background-color: white;
    padding: 20px 0 0 20px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.479);
    border-left: 2px solid rgba(0, 0, 0, 0.155);
    border-right: 2px solid rgba(0, 0, 0, 0.155);
}

.games .game-box .game-box8 .game-text h5{
    font-size: 22px;
    width: 80%;
    font-weight: 500;
    color: black;
    padding: 25px 0;
}
.games .game-box .game-box8 .game-text h6{
    color: black;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 20px;
    line-height: 25px;
    width: 80%;
}
.games .game-box .game-box8 .game-text p{
    color: black;
    opacity: 0.7;
    font-size: 13px;
    padding-bottom: 20px;
}
