*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.nav{
    width: 100%;
    height: 80px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0.9;
    border-bottom: 3px solid #ffb320;
}

.nav .logo{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav .logo img{
    width: 45%;
    padding-left: 30px;
    cursor: pointer;
}

.nav .list{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav .list a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
}
.nav .list a:hover{
    color: #ffb320;
}


.nav .login{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav .login button{
    padding: 12px 22px;
    margin-right: 30px;
    border-radius: 20px;
    border: none;
    background-color:#ffb320;
    font-weight: 500;
    cursor: pointer;
}


/* 
hero abi bhi ahura he */
.hero{
    width: 100%;
    height: 100vh;
    position: relative;
}
.hero img{
    width: 100%;
    height: 100vh;
    /* position: relative; */
}
.hero .text{
    position: absolute;
}
/* okk done kar dunga */




.ad{
    display: grid;
    align-items: center;
    justify-content: space-evenly;
    grid-template-columns: auto auto auto auto;
    padding: 80px 150px;
    column-gap: 10px;
}
.ad .a1{
    background-image: url(images/1.jpg.webp);
    width: 100%;
    height: 430px;
    background-repeat: no-repeat;
    background-position: center; 
    padding: 30px 0 0 20px;
    filter: grayscale(50%);
}
.ad .a1 button{
    padding: 8px 25px;
    background-color: #ff205f;
    border: none;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom:170px;
}
.ad .a1 h5{
    font-size: 22px;
    font-weight: 400;
    color: white;
    padding-bottom: 20px;
    width: 80%;
}
.ad .a1 h6{
    color: white;
    font-size: 15px;
    line-height: 28px;
    font-weight: 400;
    width: 80%;
    padding-bottom: 30px;
}
.ad .a1 p{
    color: white;
    opacity: 0.7;
    font-size: 13px;
}

.ad .a2{
    background-image: url(images/2.jpg.webp);
    width: 100%;
    height: 430px;
    background-repeat: no-repeat;
    background-position: center; 
    padding: 30px 0 0 20px;
    filter: grayscale(50%);
}
.ad .a2 button{
    padding: 8px 25px;
    background-color: #4eae60;
    border: none;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom:170px;
}
.ad .a2 h5{
    font-size: 22px;
    font-weight: 400;
    color: white;
    padding-bottom: 20px;
    width: 80%;
}
.ad .a2 h6{
    color: white;
    font-size: 15px;
    line-height: 28px;
    font-weight: 400;
    width: 80%;
    padding-bottom: 30px;
}
.ad .a2 p{
    color: white;
    opacity: 0.7;
    font-size: 13px;
}

.ad .a3{
    background-image: url(images/3.jpg.webp);
    width: 100%;
    height: 430px;
    background-repeat: no-repeat;
    background-position: center; 
    padding: 30px 0 0 20px;
    filter: grayscale(50%);
}
.ad .a3 button{
    padding: 8px 25px;
    background-color: #ff205f;
    border: none;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom:170px;
}
.ad .a3 h5{
    font-size: 22px;
    font-weight: 400;
    color: white;
    padding-bottom: 20px;
    width: 80%;
}
.ad .a3 h6{
    color: white;
    font-size: 15px;
    line-height: 28px;
    font-weight: 400;
    width: 80%;
    padding-bottom: 30px;
}
.ad .a3 p{
    color: white;
    opacity: 0.7;
    font-size: 13px;
}

.ad .a4{
    background-image: url(images/4.jpg.webp);
    width: 100%;
    height: 430px;
    background-repeat: no-repeat;
    background-position: center; 
    padding: 30px 0 0 20px;
    filter: grayscale(50%);
}
.ad .a4 button{
    padding: 8px 25px;
    background-color: #694eae;
    border: none;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom:170px;
}
.ad .a4 h5{
    font-size: 22px;
    font-weight: 400;
    color: white;
    padding-bottom: 20px;
    width: 80%;
}
.ad .a4 h6{
    color: white;
    font-size: 15px;
    line-height: 28px;
    font-weight: 400;
    width: 80%;
    padding-bottom: 30px;
}
.ad .a4 p{
    color: white;
    opacity: 0.7;
    font-size: 13px;
}


.games{
    width: 100%;
    height: 100vh;
    background-image: url(images/recent-game-bg.png.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #eef2f6;
}

.games .tital{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}
.games .tital button{
    padding: 8px 25px;
    background-color: #ff205f;
    border: none;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.games .tital h3{
    font-size: 35px;
}

.games .game-box{
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    padding: 0 170px;
    margin-top: 50px;
    width: 100%;
    column-gap:20px;
}
.games .game-box .game-box1{
    margin: 10px;
    width: 100%;
}
.games .game-box .game-box1 .game1{
    height: 200px; 
    background-image: url(images/1.jpg\ \(1\).webp);
    background-repeat: no-repeat;
   padding: 20px;
}
.games .game-box .game-box1 .game1 button{
    padding: 8px 25px;
    background-color: #ff205f;
    border: none;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.games .game-box .game-box1 .game-text{
    width: 100%;
    background-color: white;
    padding: 20px 0 0 20px;
}

.games .game-box .game-box1 .game-text h5{
    font-size: 22px;
    width: 80%;
    font-weight: 500;
    color: black;
    padding: 25px 0;
}
.games .game-box .game-box1 .game-text h6{
    color: black;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 20px;
    line-height: 25px;
}
.games .game-box .game-box1 .game-text p{
    color: black;
    opacity: 0.7;
    font-size: 13px;
    padding-bottom: 20px;
}



.games .game-box .game-box2{
    margin: 10px;
    width: 100%;
}
.games .game-box .game-box2 .game2{
    height: 200px; 
    background-image: url(images/2.jpg\ \(1\).webp);
    background-repeat: no-repeat;
    padding: 20px;
}
.games .game-box .game-box2 .game2 button{
    padding: 8px 25px;
    background-color: #694eae;
    border: none;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.games .game-box .game-box2 .game-text{
    width: 100%;
    background-color: white;
    padding: 20px 0 0 20px;
}

.games .game-box .game-box2 .game-text h5{
    font-size: 22px;
    width: 80%;
    font-weight: 500;
    color: black;
    padding: 25px 0;
}
.games .game-box .game-box2 .game-text h6{
    color: black;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 20px;
    line-height: 25px;
}
.games .game-box .game-box2 .game-text p{
    color: black;
    opacity: 0.7;
    font-size: 13px;
    padding-bottom: 20px;
}



.games .game-box .game-box3{
    margin: 10px;
    width: 100%;
}
.games .game-box .game-box3 .game3{
    height: 200px; 
    background-image: url(images/3.jpg\ \(1\).webp);
    background-repeat: no-repeat;
    padding: 20px;
}
.games .game-box .game-box3 .game3 button{
    padding: 8px 25px;
    background-color: #40abf5;
    border: none;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.games .game-box .game-box3 .game-text{
    width: 100%;
    background-color: white;
    padding: 20px 0 0 20px;
}

.games .game-box .game-box3 .game-text h5{
    font-size: 22px;
    width: 80%;
    font-weight: 500;
    color: black;
    padding: 25px 0;
}
.games .game-box .game-box3 .game-text h6{
    color: black;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 20px;
    line-height: 25px;
    width: 80%;
}
.games .game-box .game-box3 .game-text p{
    color: black;
    opacity: 0.7;
    font-size: 13px;
    padding-bottom: 20px;
}


.card{
   
    height: 70vh;
    background-image: url(images/pattern.png.webp);
    display: grid;
    align-items: center;
    justify-content: space-around;
    padding: 0 150px;
    column-gap: 30px;
    grid-template-columns: auto auto;
}
.card .card-1{
    width: 100%;
    background-color: #252525;
}
.card .card-1 button{
    padding: 10px 25px;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    background-color: orange;
    border: none;
}

.card .card-1 .contant{
    display: flex;
    padding: 40px 30px;
}
.card .card-1 .contant .img {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card .card-1 .contant .img img{
    width: 100%;
}
.card .card-1 .contant .txt {
    width: 70%;
    padding-left: 30px;
}
.card .card-1 .contant .txt h4{
    color: rgba(255, 166, 0, 0.879);
    font-size: 24px;
    padding-bottom: 18px;
}
.card .card-1 .contant .txt p{
    color: white;
    font-size: 12px;
    padding-bottom: 13px;
    
}
.card .card-1 .contant .txt p span{
    color: white;
    opacity: 0.5;
    font-size: 12px;
}
.card .card-1 .contant .txt h6{
    font-size: 12px;
    color: orange;
}
.card .card-1 .contant .txt h6 span{
    color: white;
    opacity: 0.5;
    font-size: 12px;
}



.card .card-2{
    width: 100%;
    background-color: #252525;
}
.card .card-2 button{
    padding: 10px 25px;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    background-color: orange;
    border: none;
}

.card .card-2 .contant{
    display: flex;
    padding: 40px 30px;
}
.card .card-2 .contant .img {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card .card-2 .contant .img img{
    width: 100%;
}
.card .card-2 .contant .txt {
    width: 70%;
    padding-left: 30px;
}
.card .card-2 .contant .txt h4{
    color: rgba(255, 166, 0, 0.879);
    font-size: 24px;
    padding-bottom: 18px;
}
.card .card-2 .contant .txt p{
    color: white;
    font-size: 12px;
    padding-bottom: 13px;
    
}
.card .card-2 .contant .txt p span{
    color: white;
    opacity: 0.5;
    font-size: 12px;
}
.card .card-2 .contant .txt h6{
    font-size: 12px;
    color: orange;
}
.card .card-2 .contant .txt h6 span{
    color: white;
    opacity: 0.5;
    font-size: 12px;
}




.revie{
    width: 100%;
    background-image: url(images/review-bg.png.webp);
    background-repeat: no-repeat;
    background-position: right;
}
.revie .tital{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}
.revie .tital button{
    padding: 8px 25px;
    background-color: #ff205f;
    border: none;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.revie .tital h3{
    font-size: 35px;
}


.revie .main-box{
    width: 100%;
    display:grid;
    align-items: center;
    justify-content: space-between;
    padding: 0 150px;
    margin-top: 80px;
    margin-bottom: 100px;
    grid-template-columns: auto auto auto auto;
}

.revie .main-box .z1{
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: space-evenly;
    grid-template-columns: auto auto auto auto;
}


.revie .main-box .z1 .bi{
    width: 100%;
    padding: 10px;
    position: relative;
}
.revie .main-box .z1 .bi img{
    width: 100%;
    
}

.revie .main-box .z1 .bi .round{
    width: 50px;
    height:50px;
    border-radius: 50%;
    background-color: #2b00ff;
    position: absolute;
    top: -5px;
    left: 50px;
    z-index: 10000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
}
.revie .main-box .z1 .bi h5{
    font-size: 22px;
    text-align: center;
    padding: 20px 0;
}
.revie .main-box .z1 .bi p{
    text-align: center;
    opacity: 0.5;
    font-size: 14px;
    line-height: 25px;
    padding: 0px 5px 5px 5px;
}



@media screen and (max-width: 1350px) {
    .ad{
        padding: 80px 100px;
    }
}


@media screen and (max-width: 1250px) {
    .nav .logo img{
        width: 60%;
    }
    .ad{
        padding: 80px;
    }
    .games .game-box{
        padding: 0 130px;
    }
    .card .card-1 .contant .img {
        width: 35%;
    }
    .card .card-2 .contant .img {
        width: 35%;
    }
    .revie .main-box{
        padding: 0 100px;
    }
    .card{
        padding: 0 100px;
    } 
    .foot{
        padding: 0 100px;
    }
}

@media screen and (max-width: 1150px) {
    .games .game-box{
        padding: 0 80px;
    }
    .card{
        padding: 0 70px;
    } 
    
}

@media screen and (max-width: 1080px) {
    .ad{
        padding: 80px 40px;
        grid-template-columns: auto auto;
        row-gap: 30px;
    }
    .games .game-box{
        padding:  0 40px;
    }
    .card{
        padding: 0 40px;
    } 
    .revie .main-box {
        padding: 0 40px;
        margin-top: 60px;
        margin-bottom: 80px;
    }
}

@media screen and (max-width: 900px) {
    .nav .logo img{
        width: 80%;
    }
    .games{
        height: auto;
    }
    .games .game-box {
        grid-template-columns: auto auto;
        height: auto;
        padding-bottom: 40px;
    }
    .card{
        grid-template-columns: auto;
        height: auto;
        padding: 80px;
        row-gap: 50px;
    }
    .card .card-1 .contant .img {
        width: 30%;
    }
    .card .card-1 .contant .img img {
        width: 80%;
    }
    .card .card-1 .contant .txt {
        width: 70%;
        padding-left: 0;
    }

    .card .card-2 .contant .img {
        width: 30%;
    }
    .card .card-2 .contant .img img {
        width: 80%;
    }
    .card .card-2 .contant .txt {
        width: 70%;
        padding-left: 0;
    }

    .revie{
        background-position: left;
    }
    .revie .main-box{
        grid-template-columns: auto auto;
    }
    .revie .main-box .z1 .bi {
        width: 70%;
    }
}

















































































































































.footer{
    width: 100%;
    background-image: url(images/pattern.png.webp);
    
}
.foot{
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: auto auto auto;
    column-gap: 40px;
    padding: 0 150px;
    height: 100vh;
}
.foot .fot1{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-position: bottom;
    height: 450px;
    background-image: url(images/footer-top-bg.png.webp);
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
}
.foot .fot1 .img img{
    width: 80%;
    padding-bottom: 40px;
}
.foot .fot1 p{
    font-size: 14px;
    color: white;
    line-height: 25px;
}


.foot .fot2{
    width: 100%;
    background-color: #252525;
    padding: 20px;
}
.foot .fot2 h3{
    font-size: 25px;
    color: white;
    padding-bottom: 25px;
}

.foot .fot2 .pub{
    display: flex;
    margin-bottom: 30px;
}
.foot .fot2 .pub .j1{
    width: 40%;
    display: flex;
    align-items: center;
}
.foot .fot2 .pub img{
    width: 100%;
}
.foot .fot2 .pub .texts{
    padding-left: 20px;
}
.foot .fot2 .pub .texts h6{
    color: orange;
    font-size: 13px;
    font-weight: 400;
    padding-bottom: 12px;
}
.foot .fot2 .pub .texts p{
    color: white;
    line-height: 22px;
    padding-bottom: 5px;
    font-size: 13px;
}
.foot .fot2 .pub .texts h5{
    color: white;
    opacity: 0.5;
}

.foot .fot3{
    width: 100%;
    background-color: #252525;
    padding: 20px;
    /* height: 450px; */
}
.foot .fot3 h3{
    font-size: 25px;
    color: white;
    padding-bottom: 30px;
}
.foot .fot3 .commet{
    display: flex;
    margin-bottom: 25px;
}
.foot .fot3 .commet img{
    width: 19%;
    border-radius: 50%;
}
.foot .fot3 .commet .txt{
    padding-left: 20px;
}
.foot .fot3 .commet .txt h5{
    color: #ff205f;
    font-size: 12px;
    padding-bottom: 7px;
    line-height: 22px;
    width: 80%;
}
.foot .fot3 .commet .txt h5 span{
    color: white;
    opacity: 0.5;
}
.foot .fot3 .commet .txt h5 p{
    color: white;
    display: inline-block;
}
.foot .fot3 .commet .txt h4{
    color: orange;
    font-size: 13px;
    font-weight: 400;
}


.footer .fot-half{
    width: 100%;
    height: 70px;
    background-color: #252525;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer .fot-half h2{
    font-size: 14px;
    color: white;
}
.footer .fot-half h2 span{
    color: orange;
}

.footer .fot-half .menu a{
    text-decoration: none;
    color: white;
    padding-right: 20px;
    transition: all 0.5s ease;
}
.footer .fot-half .menu a:hover{
    color: orange;

}